 /* Importation de la police Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Importation des fichiers Tailwind CSS */
@tailwind base; 
@tailwind components;
@tailwind utilities;

/* création d'une class utilitaire tailwind personnalisé pour le shadow du text */
@layer utilities { 
  .retro-text-shadow { 
    text-shadow: 3px 3px #ff0000; 
  }
}

html, body, #__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@keyframes blink {
  0%, 49% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@layer utilities {
  .animate-blink {
    animation: blink 1s infinite;
  }
}

